.main-page-head {
  width: 100%;
  background-color: #156678;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-image {
  height:150px;
}
.header-container {
  width: 100%;
}
.dropdown-container {
  margin-top: 20px;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "main sidebar";
  justify-content: center;
}
.main-container {
  grid-area: main;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  color: #156678;
}
.user-list-sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.user-list p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.user-list div {
  background-color: #FFFFFF;
}
.user-list div:nth-child(even) {
  background-color: #c0d7dd;
}
.user-list-item {
  transition: all .4s ease-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
  font-weight: 700;
  color: #156678;
  height: 40px;
  position: absolute;
  width: 100%;
}
.user-list-item:hover {
  border: 1px solid #156678;
  height: 120px;
}
.user-list-item-name, .user-list-item-karma {
  justify-self: center;
}
.group-name {
  transition: all .4s ease-out;
  position: relative;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  height: 100px;
  width: 100%;
}
.group-name:hover {
  border: 1px solid #156678;
  height: 160px;
}
.group-dropdown {
  background-color: #FFFFFF;
}
.group-dropdown li {
  list-style-type: none;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  color: #156678;
}
.user-info {
  font-size: 15px;
  font-weight: 700;
  color: #156678;
  grid-column-start: 1;
  grid-column-end: two;
  text-align: center;
  overflow: hidden;
}
.user-info p {
  margin-left: 10px;
  margin-right: 10px;
}
.confirm-text {
  margin-top: 20px;
}
.current-user {
  font-size: 30px;
  font-weight: 700;
  color: #d8d8c3;
  padding-left: 50px;
}
.currentUser, .spacer {
  width: 200px;
}
.dropdown-menu {
  left: 369px;
}
.new-task {
  margin: 25px;
  width: 100px;
}
#caret {
  margin-left: 10px;
}
#userDropdown, #taskDropdown, #costDropdown {
  min-width: 130px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  background-color: #c0d7dd;
  border: 3px solid #156678;
  color: #156678;
}
#submitbutt {
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  background-color: #c0d7dd;
  border: 3px solid #156678;
  color: #156678;
}

#cost-select {
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  border: 3px solid #156678;
  border-radius: 5px;
  color: #156678;
  margin-left: 10px;
}

#dropdown-option {
  padding: 5px 0 5px 10px;
}

#dropdown {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 5px 20px;
}
#submit-container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 20px;
}
#dropdown.form-group.row::before{
  display: none !important;
}
#dropdown.form-group.row::after{
  display: none !important;
}
