.menuicon {
  height: 4vh;
}
.link {
  padding: 5px 0 5px 20px;
  color: #156678;
  font-size: 20px;
  font-weight: 700
}
.icon-cont {
 position: relative;
}

.logout {
  padding-top: 10px;
  margin-top: 0;
  border-top: 1px solid #156678;
}
#menu-button {
  margin-left: 20px;
  padding: 5px;
}
#menu-button:hover {
  background-color: #c0d7dd;
  border-radius:5px;
}
#dropdownmenu {
  position: absolute;
  top: 12.23vh;
  left: -60px;
  border-right: 1px solid rgb(142, 142, 142);
  border-radius: 0;
  height: 82vh;
  width: 160px;
  padding-top: 20px;
  transition: left 2s linear 1s;
}
#dropdownmenu:target {
  left: 0px;
}
#slider {
  position: absolute;
  top: 12.1vh;
  left: -400px;
  border-right: 3px solid #156678;
  background-color: #c0d7dd;
  border-radius: 0;
  height: 82vh;
  width: 160px;
  padding-top: 20px;
  transform: translateX(100%);
  transition: all 0.5s linear;
  font-family: 'Poppins', sans-serif;

}

#slider.slidein {
  left: -220px;

}

#facebook {
  margin: 10px;
}

#gmail {
  margin-right: 10px;
}
