.nav{
  position: relative;
  height: 70px;
  background-color: #156678;
  display: flex;
  justify-content: space-around;
  width: 100%
}

.nav ul{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.nav ul li{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav ul li .link{
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: rgb(226, 226, 226);
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

.nav ul li .link:hover{
  color: #262626;
}
