.group-name-header {
  font-size: 25px;
  font-weight: 700;
  padding: 20px;
}
.recent-tasks-container, .open-tasks-container {
  min-width: 600px;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  border-radius: 10px;
  background-color: #c0d7dd;
}
.border {
  border: 4px solid #156678;
  border-radius: 10px;
  width: 100%;
  z-index: 2;
}
.addTaskButton {
  width: 110px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  border: 3px solid #156678;
  color: #156678;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
  position: relative;
}
.addTaskButton:hover {
  background-color: #e4eef1;
}
.table {
  width: 97%;
  margin: 10px 10px 0 10px;
}
.addTaskRequest {
  width: 150px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  border: 3px solid #156678;
  color: #156678;
  border-radius: 5px;
}
.open-tasks-container {
  flex-direction: column;
  padding: 10px;
  border: 4px solid #156678;
  border-radius: 10px;
}
.open-tasks-head {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(221 221 221)
}
.open-tasks-item {
  padding: 5px 0 5px 10px;
}
.open-tasks-item:nth-child(even) {
  background-color: rgba(115, 115, 115, 0.2);
}
.centerbutton {
  display: flex;
  justify-content: center;
}
#groups-table {
  z-index: 1;
}
tr {
  padding-top: 10px;
}
th, .open-tasks-head {
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(#156678, 0.93);
}
td, .open-tasks-item {
  font-size: 15px;
  font-weight: 500;
}
#request-dropdown {
  position: relative;
}
.request-dropdown-option {
  position: absolute;
  left: 0;
  top: 30px;
}
.block-button {
  display: block;
  min-width: 200px;
}
#date {
  width: 150px !important;
}
.request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
